@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  --radius-ios: 22px;
  --blur-ios: 40px;
}

@layer base {
  body {
    @apply font-sans antialiased text-neutral-900 bg-[#F2F2F7] selection:bg-black selection:text-white;
  }
}

.glass-pill {
  @apply bg-white/40 backdrop-blur-3xl border border-white/40 shadow-[0_4px_12px_rgba(0,0,0,0.02)];
}

.glass-card {
  @apply bg-white/60 backdrop-blur-2xl border border-white/60 shadow-[0_8px_32px_rgba(0,0,0,0.04)] rounded-[40px];
}
